set_io bus_cs_n 41
set_io bus_rd_nwr 39
set_io bus_dtack_n 32
set_io bus_bytesel 40
set_io bus_reg_num[3] 27
set_io bus_reg_num[2] 26
set_io bus_reg_num[1] 25
set_io bus_reg_num[0] 23
set_io bus_data[7] 28
set_io bus_data[6] 31
set_io bus_data[5] 34
set_io bus_data[4] 36
set_io bus_data[3] 37
set_io bus_data[2] 38
set_io bus_data[1] 42
set_io bus_data[0] 43
set_io audio_r 35
set_io dv_r[3] 19
set_io dv_r[2] 18
set_io dv_r[1] 13
set_io dv_r[0] 12
set_io dv_g[3] 11
set_io dv_g[2] 10
set_io dv_g[1] 9
set_io dv_g[0] 6
set_io dv_b[3] 3
set_io dv_b[2] 2
set_io dv_b[1] 48
set_io dv_b[0] 47
set_io dv_hs 45
set_io dv_vs 46
set_io dv_de 44
set_io dv_idck 4
set_io bus_irq_n 14
set_io clk_12mhz 20
set_io spi_ss_n 16

# Set clock pin frequency for nextpnr-ice40 to 12MHz
set_frequency clk_12mhz  12
